<style>
  #form-tambah-mahasiswa {
    padding-top: 6rem;
  }
</style>

<section id="form-tambah-mahasiswa">
  <div class="container">
    <div class="row text-center mb-3">
      <div class="col-md-12">
        <h1>Form Tambah Mahasiswa</h1>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-8">
        <form action="/createmahasiswa" method="post">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Id Mahasiswa</label>
            <% for(let id of id_mhs) { %> 
            <input type="text" class="form-control" disabled id="exampleInputEmail1" value="<%= id.id_mahasiswa + 1  %>" aria-describedby="emailHelp">
            <% } %> 
          </div>
          <div class="mb-3">
            <label for="nama_mahasiswa" class="form-label">Nama Mahasiswa</label>
            <input type="text" class="form-control" id="nama_mahasiswa" name="nama_mahasiswa" required>
          </div>
          <center>
            <button type="submit" class="btn btn-primary">Submit</button>
          </center>
        </form>
      </div>
    </div>
  </div>
</section>