<style>
  
.f-bawah {
  background-color: #01f5fd;
  padding: 20px;
}
</style>

<footer>
  <%- include('../asset/gelombangfooter.svg') %>
    <div class="f-bawah">
      <h5 class="text-center text-white">Made with <i class="bi bi-heart-fill text-danger"></i> by zulnurdiana</h5>
    </div>
</footer>